<configuration>
    <file1Path>/Users/joey/Downloads/</file1Path>
    <file1Name>echo-奖金计算-CST连长-1736233453546.xlsx</file1Name>
    <file2Path>/Users/joey/Downloads/</file2Path>
    <file2Name>奖金计算-CST连长-1736421632290.xlsx</file2Name>
    <keyWord>4</keyWord>
    <length>26</length>
</configuration>
